.idea/
.vs/
Debug/
Release/
x64/
DB Controll/Release/
DB Controll/x64/
DB Controll/HM/HMSoft_V540.TXT
DB Controll/HM/JDY-31-SPP.TXT
DB Controll/HM/MLT-BT05_V4.1.TXT
DB Controll/iconX.ico
DB Controll/iconX.ico
DB Controll/configuration/checkSheet.txt
DB Controll/configuration/conf.txt
DB Controll/configuration/dbosX.hex
DB Controll/iconX.ico
DB Controll/iconX.ico
